Options -Indexes
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:AqgRgGy8V2
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html 
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE AqgRgGy8V2:ERRORPAGEID

